.navbar-main{
    list-style-type: none;
    display:flex;
    background-color: #222;
}
.navbar-main li{
    margin:8px;
}
.navbar-main li a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.card{
    height: 100%;
}
.product-wrapper{
    display: flex;
}
.product-description{
    padding: 24px;
}
.btn-bucket{
    text-transform: uppercase;
    border-radius: 0;
}
.overlay-wrapper{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.overlay-inner-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: #fff;
}